<div class="container">
  <div class="row">
    <h1 style="text-align: center">Funny sentences</h1>
  </div>
  <div class="row">
    <input [(ngModel)]="currentSentence" class="form-control" type="text" placeholder="Type a funny sentence here..." aria-label="default input example">
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="addFunnySentence()">Add</button>
  </div>
  <app-funny-sentence
    *ngFor="let sentence of funnySentences"
    [sentence]="sentence"
    (sentenceDeleted)="onSentenceDeleted($event)"
  >
  </app-funny-sentence>
</div>
